@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

.header {
    min-height: 4.4rem;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
}

.subtitle {
    color: white;
    font-weight: lighter;
}

.img {
    max-width: 100vw;
}

.alerta {
    top: 30vh;
    left: calc(50vw - 150px);
    height: 100px;
    width: 300px;
    position: absolute;
    background-color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke;
}

.button {
    padding: 0px 7px;
    position: absolute;
    top: -15px;
    right: -10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border: black 2px solid;
    border-radius: 100%;
}

.texto {
    text-align: center;
    font-size: 1.4rem;
    padding: .4rem 1rem;
    color: white;
}

.display {
    display: none;
}

.background {
    position: absolute;
    /* height: 100%; */
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}